* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(48, 44, 133);
  background: linear-gradient(
    180deg,
    rgba(48, 44, 133, 1) 0%,
    rgba(47, 47, 52, 1) 35%,
    rgba(0, 0, 0, 1) 100%
  );
}

.form {
  width: 100%;
  max-width: 350px;
  padding: 20px 50px;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .title {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }

  &-group {
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    label {
      font-size: 14px;
      font-weight: 600;
      color: #333;
      margin-bottom: 5px;
    }

    input {
      width: 100%;
      height: 40px;
      border-radius: 5px;
      border: 1px solid #ddd;
      padding: 0 15px;
      font-size: 13px;
      color: #333;
      margin-bottom: 10px;
      outline: none;
    }
    .error {
      border: 2px solid red;
      color: red;
    }
    .form-message {
      font-size: 12px;
      color: #f00;
    }

    .gender {
      display: flex;
      justify-content: space-around;
      align-items: center;
      gap: 20px;

      input {
        width: 10px;
        margin-bottom: 0;
        margin-right: 10px;
      }

      .male,
      .female,
      .other {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      label {
        margin-bottom: 0;
      }
    }
  }

  .submit {
    width: 80%;
    height: 40px;
    border-radius: 10px;
    background: #312d2d34;
    border: none;
    color: #333;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    margin: 0 auto;

    &:hover {
      background: #93a2f5;
      color: #fff;
    }
  }
}
